$font_custom_1: "Roboto",sans-serif;
$font_custom_2: "Anton",sans-serif;

$color_1: #e80c0c;
$color_1_hover: #e80c0c;

$black: #212121;
$white: #fff;

$titles_color_1: $white;
$titles_color_2: $color-1;